.container{
    background-color: rgb(210, 209, 236);
    border:2px solid rgb(255, 255, 255);
    border-radius:10px;
    padding: 25px;
    margin: 100px;
    box-shadow: rgba(235, 222, 250, 0.25) 0px 54px 55px, rgba(235, 222, 250, 0.25) 0px -12px 30px, rgba(235, 222, 250, 0.25) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(235, 222, 250, 0.25) 0px -3px 5px;
    /* box-shadow: rgb(193, 169, 233) 0px 20px 30px -10px; */
}
body {
    background-color: rgb(39, 17, 80);
    
}
.btn{
    background-color: rgb(0, 0, 0);
    color:aliceblue;
}
.btn:hover{
    background-color: rgb(61, 0, 173);
    color: #fff;
}
#items{
    background-color: rgb(205, 192, 241);
    padding:15px;
    border-radius:10px;
}
#description{
    background-color: rgb(203, 195, 219);
    border-radius:10px;
    /* border:1px solid rgb(165, 123, 231); */
}
#title{
    background-color: rgb(203, 195, 219);
    border-radius:10px;
    /* border:1px solid rgb(165, 123, 231); */
}
